

body {
    background-color: gray
}

p {
    border: 0px solid
}

.bord1 {
    border: 10px solid;
    font-size: 30;
}

ul li {
        display: inline-block;
        padding: 15px;
        border-width: 10px;
        border: 1px rgb(10, 3, 3);
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

table.center {
    border-collapse: collapse;
    border: 1px solid black;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.centered-and-cropped { object-fit: cover }

